Django==5.2.5
django-bootstrap4==25.2
djangorestframework==3.16.1
nltk==3.9.1
joblib==1.5.2
pillow==11.3.0
psycopg2-binary==2.9.10
PyMuPDF==1.26.4
PyMuPDFb==1.24.10
regex==2025.8.29
ruff>=0.1
pyrefly>=0.1
djade>=0.1
