{% extends 'layouts/default/page.html' %}

{% load bootstrap4 i18n %}

{% block content %}

    <h4>Restore password</h4>

    {% if validlink %}

        <p>
            Tolong isi password dua kali untuk konfirmasi
        </p>

        <form method="post">

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-success">Simpan</button>

        </form>

    {% else %}

        <div class="alert alert-danger">
           link reset password invalid, kemungkinan karena sudah digunakan sebelumnya. Harap request reset password kembali
        </div>

    {% endif %}

{% endblock content %}
